* {
  width: auto;
  /* font-family: "Ubuntu"; */
}
/* NAVBAR ESTILO */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2e948a;
  color: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.nav-links a {
  color: #ffffff;
}
.nav-links a:hover {
  color: #ff4081;
  text-decoration: underline;
}
/* LOGO */
.logo {
  font-size: 32px; /*Preciso observar*/
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
}
.menu li:hover {
  background-color: #2e948a;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
/* MENU SUSPENSO */

.dropdown {
  background-color: #2e948a;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: #2e948a;
  text-decoration: none;
}

.iten-page-contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  
}
.contact {
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 3%;
  color: #ff4081;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.contact-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

input {
  width: 75%;
  margin: 1%;
  padding: 2%;
  font-size: 14px;
  border-radius: 5px;
}

#menssage-envio {
  width: 79%;
  margin: 1%;
  font-size: 14px;
  border-radius: 5px;
}

#contact-img2 {
  width: 90%;
  margin-right: 10%;
}

#button-contato-enviar {
  font-family: "Nunito", sans-serif;
  max-width: 20%;
  background-color: #ff4081;
  color: white;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2%;
}

button:hover {
  background-color: white;
  color: #ff4081;
}

@media only screen and (max-width: 1000px) {

  .iten-page-contato {
    flex-direction: column;
    /* align-items: center; */
  }

  .contact-input {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0%;
    align-items: center;
  }

  #contact-img2 {
    width: 80%;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0%;
  }

  #button-contato-enviar {
    min-width: 100px;
  }
}

