
hr {
    margin: 8% 0 8% 6.5%;
    width: 100%;
    text-align: center;
    height: 3px;
    background: #C4C4C4;
    
}

.container1 {
    width: 80%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    
}

.container1Esquerdo h1{
 
    height: auto;
    width: 100%;
    color: #FF4081;
    font-style: light;
    font-size: 55px;   
}


.container1Esquerdo p {    
    width: 100%;
    height: auto;
}

.container1Image {
    width: 100%;
    height: auto;
   
}
.container1Image img{
    width: 100%;
}




/* ==================================================================================== */
.container2 {
    width: 80%;
    height: auto;
    background-color: #F6F6F6;
   
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column; 
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.container2 .video1 {
    display: flex;   
}


.container2 .video1 .text{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: auto;
    justify-content: center;   
}


.container2 .textVideo {
    display: flex;   
}

.container2 h3 {

    color: #FF4081;
    padding-right: 3%;
    padding-bottom: 3%;
    font-size: 35px;
line-height: 40px;

}


.container2 p{
    line-height: 23px;
    font-size: 20px;
    color: #000000;
}

@media screen and (max-width: 1000px) {

    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    }

    .container1, .container1Esquerdo h1{ 
        margin: auto;
        padding-bottom: 20px;
        align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    }

    .container1, .container1Esquerdo p{
        margin: auto;
    }

    .container1, .container1Image{
        margin: auto;
        
    }

    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    }

    .container2 .video1 {
        flex-direction: column;
        align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    }

    .container2 .text{
        padding-top: 5%;
        align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    }

    .container1Image{
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 650px) {

    .container2 iframe{
        width: 300px;
        height: auto;
    }
    

}
@media screen and (max-width: 530px) {

    .container1Esquerdo h1{
        font-size: 40px;

    }

}